#page-favoritos {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}

#page-favoritos header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-favoritos header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-favoritos header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}